<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mobile Shop</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function () {

            // 카트물건 변수 선언
            var cartItems = {};

            // 함수 선언
            function changeIcon(target, from, to) {
                $(target).removeClass(from).addClass(to);
            }

            function changeCount(index, count) {
                $("li[data-index="+index+"] .ui-li-count").html(count);
            }

            // 카트에 담은 물건의 제한시간을 표시함
            function displayRemainTime(index, dueTime) {
                // server 측에서 정한 소멸시각에서 현재 시각을 뺌(서버 클라이언트 송수신 시간차이를 반영)
                cartItems[index] = {};
                cartItems[index].remainTime = new Date(dueTime - Date.now());

                var $item = $(".product[data-index="+index+"] .ui-li-aside");
                
                $item.css("display", "inline");                
                
                // 제한시간을 1초 마다 1 감소하여 표시함
                cartItems[index].timeId = setInterval(function () {
                    cartItems[index].remainTime.setSeconds(cartItems[index].remainTime.getSeconds() - 1);
                    
                    // 제한시간이 음수가 되면 더이상 Interval()는 종료
                    if (cartItems[index].remainTime.getSeconds < 0) {
                        clearInterval(cartItems[index].timeId);
                    } 
                    
                    $item.text(cartItems[index].remainTime.getMinutes() + ":" + cartItems[index].remainTime.getSeconds());
                }, 1000);
            }
            // 카트에 담은 물건의 제한시간 표시를 안함
            function blindRemainTime(index) {
                var $item = $(".product[data-index="+index+"] .ui-li-aside");

                clearInterval(cartItems[index].timeId);
                delete cartItems[index];

                $item.text("10:00");
                $item.css("display", "none");
            }

            // 소켓 생성
            var socket = io.connect();

            // 소켓 이벤트를 연결
            socket.on("count", function (data) {
                // 물건 개수를 변경
                changeCount(data.index, data.count);
            });

            socket.on("return", function (data) {
                // 아이콘 및 테마 변환
                changeIcon(".product > a[data-index="+data.index+"]", "ui-icon-check", "ui-icon-heart");
                // 토글 변수 변경
                $(".product > a[data-index="+data.index+"]").attr("toggle", "on");

                // 제한시간 표시 제거
                blindRemainTime(data.index);
            });

            socket.on("cart", function (data) {
                if (data.status) {
                    // 아이콘 및 테마 변환
                    changeIcon(".product > a[data-index="+data.index+"]", "ui-icon-heart", "ui-icon-check");
    
                    // 토글 변수 변경
                    $(".product > a[data-index="+data.index+"]").attr("toggle", "off");

                    // 제한시간 표시
                    displayRemainTime(data.index, data.dueTime);
                } else {
                    // 카트 담기요청 거절됨
                    alert(data.index+" 카트 담기 실패");
                }
            });

            socket.on("ordered", function (data) {
                if (data.status) {
                    // 리스트 아이템 제거
                    $(".product > a[data-index="+data.index+"]").parent().remove();
                    
                    // 제한시간 표시 제거
                    blindRemainTime(data.index);

                    $("#listview").listview("refresh");
                } else {
                    // 구매요청 거절됨
                    alert(data.index+" 물건 구매요청 거절됨");
                }
            });

            // 문서 객체 이벤트를 연결
            $(".product > a[data-icon]").click(function () {
                if ($(this).attr("toggle") != "off") {
                    // 변수 선언
                    var index = $(this).attr("data-index");

                    // 소켓 이벤트 발생
                    socket.emit("cart", Number(index));
                } else {
                    // 변수 선언
                    var index = $(this).attr("data-index");
                    
                    // 구매 의사를 물어봄
                    if (confirm("물건을 구매하겠습니까?")) {
                        // 소켓 이벤트를 발생
                        socket.emit("buy", Number(index));
                    } else {
                        // 소켓 이벤트 발생
                        socket.emit("return", Number(index));
                    }

                    // 토글 변수 변경
                    $(this).attr("toggle", "on");
                }
            });

            // 카트 물건 전체 구매 요청하는 이벤트 리스너 연결
            $("#cartAll").on("click", function (e, elem) {
                // 카트에 물건 모두를 탐색
                var myProducts = $(".product a.ui-icon-check");

                // 구매 요청을 확인 받음
                if (confirm("카트에 담은 모든 물건은 구매합니까?")) {
                    // 카트 물건이 여전히 존재한다면, 모두 구매 요청
                    myProducts.each(function (index, elem) {
                        socket.emit("buy", Number(elem.getAttribute("data-index")));
                    });
                } else {
                    alert("카트 물품 구매 요청을 취소했습니다.");
                }
            });
        });
    </script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Store</h1>
            <a id="cartAll" href="#" class="ui-corner-all ui-btn ui-btn-right ui-icon-check ui-btn-icon-notext"></a>
        </div>
        <div date-role="content">
            <ul id="listview" data-role="listview" data-inset="true" data-filter="true">
                <li data-role="list-divisor">products</li>
                <% products.forEach(function (item, index) { %>
                <li class="product" data-index="<%= item.index %>">
                    <a href="#">
                        <img src="\images\wintersolstice_pivato_1080.jpg" />
                        <h3><%= item.name %></h3>
                        <p><%= item.price %></p>
                        <span class="ui-li-count"><%= item.count %></span>
                        <span class="ui-li-aside" style="display:none">10:00</span>
                    </a>
                    <a href="#" data-icon="heart" class="ui-btn-icon-notext" data-index="<%= item.index %>"></a>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>